<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.tc7241.app"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Contact Demo</name>

    <description>
        An example fapp created in class 7635 and 7241
    </description>

    <author href="https://www.itatscc.com" email="scline@southwesterncc.edu">
        Scott Cline
    </author>

</widget>
